# ignore everything
/*
 
# except for these
!.gitignore
!assets/
!core/
!_SASS/
!_JS/
!maybe_smart.sql

# but do ignore cache and config
core/cache/*
core/config/config.inc.php
config.core.php
manager/config.core.php
connectors/config.core.php
.DS_Store